.section {
  padding: 40px 80px;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.section__header--center .section__title {
  text-align: center;
  flex: 1;
}

.section__title {
  font-size: 24px;
  color: var(--color-dark-gray-2);
  font-weight: 700;
}

.section__link {
  font-size: 18px;
  color: var(--color-primary);
  text-decoration: none;
  white-space: nowrap;
}

.section__link:hover {
  text-decoration: underline;
}

.section__content {
  width: 100%;
}
